@{
    Layout = "~/Layout.cshtml";
    Page.Title = "Water Usage GuideLines";
}



<div>
    <section id="content">
        
        <div class="container_24" style="color: black">
            <p> <h4>Statistics For a single Area</h4>
                <img src="~/Images/shot2.png" width="40%" height="40%" />
            </p>

           <p> <h4>Statistics For a All Areas</h4>
               <img src="~/Images/shot1.png" width="40%" height="40%" />
                
            </p>


            </div>
    </section>
    </div>
