@{
    Layout = "Layout.cshtml";
}

<section id="content">
        <div class="ic"></div>
        <div class="container_24" >

            <form action="~/ComplaintStatus.cshtml" method="post">
            <table>
                <tr>
                <td>
                    Enter Complaint ID :
                </td>
                    <td>
                        
                        <input type="text" />
                    </td>
                    </tr>
                <input type="submit" />
            </table>
                </form>
            </div>
    </section>