@{
    Layout = "~/Layout.cshtml";
    Page.Title = "Home Page";


    var db = Database.Open("HackiT");
    var q = "SELECT * FROM Articles ORDER BY Date";
    var data = db.Query(q);

                    
}



<section id="content">
    @*<div class="ic"></div>*@
    <div class="container_24">
        @*<div class="indent-bot">
            <article class="grid_6">
                <div class="box-1">

                    <div class="inner">
                        <h3>Place holder</h3>
                        <p>
                            Lorem impsum abc123 
                        </p>
                        <div class="btn-container">
                            <div class="button-box">
                                <a href="#" class="button">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Place holder</h3>
                        <p>
                            Lorem impsum abc123 
                        </p>
                        <div class="btn-container">
                            <div class="button-box">
                                <a href="#" class="button">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Place holder</h3>
                        <p>
                            Lorem impsum abc123 
                        </p>
                        <div class="btn-container">
                            <div class="button-box">
                                <a href="#" class="button">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Place holder</h3>
                        <p>
                            Lorem impsum abc123 
                        </p>
                        <div class="btn-container">
                            <div class="button-box">
                                <a href="#" class="button">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="clear"></div>
        </div>*@


        <div class="indent-bot-1">
            <div class="grid_6">
                <div class="inner-indent">
                    <h2>New articles:</h2>

                    <ul class="list-1">
                        @foreach (var row in data)
                        {
                        
                            <li><a href="#">@row.Subject </a></li> 
                        
		 
                        }
                    </ul>


                </div>
            </div>
            <div class="grid_6 suffix_1">
                <div class="box-2">
                    <h2>Innovation:</h2>
                    <p class="p1">
                        <strong class="str-2">Report any sanitation problem that you see here, take pictures ,enter addresses  and start helping the society Clean Itself
                        </strong>
                    </p>

                    <div class="alignright">
                        <a href="#" class="link">Start Reporting</a>
                    </div>
                </div>
            </div>i
            <div class="grid_11 indent-top">
                <h2><span>Welcome</span> to CleanIT!</h2>
                <div class="wrapper">
                    <figure class="img-indent">
                        <img src="images/logo.png" alt="" class="img-indent-bot">
                    </figure>
                    <blockquote class="quote extra-wrap">
                        CleanIT is a online collaborated Citizen Water and Sanitation  problem reporting website.
                        You can register your Complaints to the municipal authorities here and you can also view the status of different areas.

                    </blockquote>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="hr-border"></div>
        <div class="wrapper">
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="complaints.cshtml">Register A complaint</a>
                            </dt>
                            <dd class="extra">Register Your water or sanitation related complaint here.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="CrowdSource.cshtml">Crowdsourced Citizen Reports</a>
                            </dt>
                            <dd>See something unsanitory, Take a Picture and click here
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="gisservices.cshtml">Area Status</a>
                            </dt>
                            <dd>Using state of the art Gis technology we can now show you the status of problems of differents Areas.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="ComplaintStatus.cshtml">Complain Status</a>
                            </dt>
                            <dd>You Can Find Your Complaint Status From here.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="GuideLines.cshtml">Water Usage GuideLines</a>
                            </dt>
                            <dd>Conserve Water , do not waste water and Do not use water in peak times.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="stats.cshtml">Statistics</a>
                            </dt>
                            <dd>Statistics about the problems in your Area.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






