@{
    Layout = "~/Layout.cshtml";
    Page.Title = "Water Usage GuideLines";
}



<div>
    <section id="content">
        
        <div class="container_24" style="color: black">
            <h3>
                  Water usage guidelines
            </h3>

          
As a guideline the following are typical amounts of water used for various activities: 
            <ul style="list-style:disc">
<li> Drinking (cup of tea, coffee or water) - 0.25 litres </li>
<li> Basin (washing hand/face) - 0.6 litres </li>
<li>  Shower - 7 litres per minute, power shower 11 litres per minute </li>
<li>  Bath - 80 litres </li>
<li> Cleaning teeth (running water) – up to 6 litres </li>
<li> Flushing toilet - 9.5 litres </li>
<li> Washing up - 6 litres </li>
<li> Dishwasher - 55 litres</li> 
<li> Washing machine - 120 litres</li> 
<li> Garden hose - 10 litres per minute </li>
<li> Cooking (1 litre per pan) </li>
                </ul>
            </div>
    </section>
    </div>
