@{
    Layout = "Layout.cshtml";
}

<section id="content">
        <div class="ic"></div>
        <div class="container_24" >
<div class="wrapper">
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="#">Register A complaint</a>
                            </dt>
                            <dd class="extra">Register Your water or sanitation related complaint here.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="#">Crowsourced Citizen Reports</a>
                            </dt>
                            <dd>See something unsanitory, Take a Picture and click here
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="#">Service Status</a>
                            </dt>
                            <dd>Using stae of the art Gis technology we can now show you the status of problems of differents Areas.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="#">Complain Status</a>
                            </dt>
                            <dd>You Can Find Your Complaint Status From here.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="#">Water Usage GuideLines</a>
                            </dt>
                            <dd>Conserve Water , do not waste water and Do not use water in peak times.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">

                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                <a href="#">Statistics</a>
                            </dt>
                            <dd>Statistics about the problems in your Area.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
            </div>
    </section>